@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Poppins', sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: calc(100vw - 120px);
  transform: translateX(-60px);
  left: 0;
  top: 0;
  padding: 10px 60px;
  background-color: #fff;
  z-index: 999; }
  header nav {
    display: flex;
    align-items: center;
    background-color: #EEE;
    border-radius: 24px;
    height: 48px;
    padding: 0 4px; }
    header nav > div {
      padding: 0 20px;
      height: 40px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      color: #000;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 400; }
      header nav > div:hover, header nav > div.active {
        background-color: #fff; }
  header > div:first-of-type {
    display: flex;
    gap: 40px; }
    header > div:first-of-type img {
      height: 42px; }
  header > p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    height: 48px;
    padding: 0 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE; }
    @media screen and (max-width: 1150px) {
      header > p {
        display: none; } }
  header > div:last-of-type {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    height: 48px;
    border-radius: 24px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400; }
    header > div:last-of-type p,
    header > div:last-of-type span {
      font-size: 16px; }
    header > div:last-of-type > div i {
      font-size: 18px; }

.categoriesSelector {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee; }
  .categoriesSelector .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #000;
    text-align: center; }
    .categoriesSelector .category .img {
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .categoriesSelector .category .img img {
        height: 60px; }
    .categoriesSelector .category:hover .img {
      background-color: #EEE; }
    .categoriesSelector .category p {
      line-height: 20px;
      font-size: 16px;
      font-weight: 400; }

main section {
  padding: 40px 0; }
  main section h1 {
    font-size: 45px;
    font-weight: 550;
    color: #000;
    letter-spacing: -1px;
    margin-bottom: 15px; }
main .deals {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
  main .deals .card {
    flex: 1;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    min-width: 330px;
    max-width: calc((100vw - 120px - 20px) / 2);
    display: flex;
    flex-direction: column;
    background-color: #C17158; }
    main .deals .card:nth-child(2n) {
      background-color: #FFBC44; }
    main .deals .card:nth-child(3n) {
      background-color: #4A7AB2; }
    main .deals .card .card-header {
      height: 100%;
      width: 35%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0; }
      main .deals .card .card-header img {
        height: 100%;
        filter: brightness(0.65); }
    main .deals .card .card-content {
      width: 65%;
      padding: 0;
      padding-top: 8%;
      padding-left: 15px;
      position: relative;
      padding-bottom: 47px;
      height: 100%; }
      main .deals .card .card-content h4 {
        color: #fff;
        font-size: 1.8vw;
        font-weight: 600;
        line-height: 35px;
        margin-bottom: 10px; }
        @media screen and (max-width: 1150px) {
          main .deals .card .card-content h4 {
            font-size: 30px; } }
        main .deals .card .card-content h4 span {
          font-weight: 700;
          font-size: 110%; }
      main .deals .card .card-content .card-actions {
        margin-bottom: 15px;
        height: 32px;
        position: absolute;
        bottom: 0; }
        main .deals .card .card-content .card-actions button {
          background-color: #fff;
          border: none;
          border-radius: 16px;
          height: 32px;
          padding: 0 10px;
          font-size: 16px;
          font-weight: 400;
          color: #000;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          width: fit-content;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px; }
          main .deals .card .card-content .card-actions button:hover {
            background-color: #EEE; }
      main .deals .card .card-content .card-footer {
        margin-bottom: 15px;
        font-weight: 500;
        color: #bbb;
        font-size: 14px; }
        main .deals .card .card-content .card-footer s {
          color: #bbb;
          font-size: 20px;
          text-decoration-color: #000;
          font-weight: 600; }
        main .deals .card .card-content .card-footer .discount {
          color: #29C842;
          font-size: 30px;
          font-weight: 600; }
main .products {
  display: flex;
  position: relative; }
  main .products .filters {
    position: sticky;
    top: 0;
    left: 0;
    width: 300px; }
    main .products .filters h5 {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10px;
      margin-top: 30px; }
      main .products .filters h5:first-child {
        margin-top: 0; }
  main .products .products-left {
    width: calc(100% - 300px); }
  main .products .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; }
    main .products .products-list .product {
      flex: 1;
      min-width: 200px; }
      main .products .products-list .product .img {
        aspect-ratio: 1.9/1;
        overflow: hidden; }
        main .products .products-list .product .img img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      main .products .products-list .product .price {
        font-size: 12px;
        color: #9E9E9E; }
        main .products .products-list .product .price .amount {
          color: #FFBC44;
          font-weight: 600;
          font-size: 22px; }
      main .products .products-list .product h6 {
        font-size: 22px;
        font-weight: 500;
        color: #000;
        margin-bottom: -8px; }
      main .products .products-list .product p {
        color: #9E9E9E;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 15px; }
      main .products .products-list .product button {
        height: 45px;
        border-radius: 22.5px;
        border: 2px solid transparent;
        background-color: #000;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        main .products .products-list .product button:hover {
          background-color: #fff;
          border: 2px solid #000;
          color: #000; }
          main .products .products-list .product button:hover img {
            filter: invert(1); }

@media (max-width: 1150px) {
  main .products .filters {
    width: 25%; }
  main .products .products-left {
    width: 75%; } }
@media (max-width: 800px) {
  main .deals {
    flex-direction: column;
    align-items: center; }
    main .deals .card {
      min-width: unset;
      max-width: 500px;
      width: 100%; } }
.large {
  display: block; }

.small {
  display: none; }

header > nav {
  display: none; }

@media (max-width: 768px) {
  body {
    padding: 0 5%; }

  header {
    width: 90vw;
    transform: translateX(-5vw);
    padding: 10px 5vw;
    justify-content: space-between; }
    header > div:first-of-type nav {
      display: none; }
    header > nav {
      display: flex; }
    header .large {
      display: none; }
    header .small {
      display: block; }

  .categoriesSelector {
    display: none; }

  main .products {
    flex-direction: column;
    align-items: center;
    gap: 30px; }
    main .products .filters {
      width: 100%;
      position: relative;
      text-align: center; }
    main .products .products-left {
      width: 100%; } }
@media (max-width: 600px) {
  header > div:last-of-type span {
    display: none; } }
@media (max-width: 460px) {
  header > nav > div {
    padding: 0 10px;
    font-size: 14px; }

  main .deals {
    flex-direction: column; }
    main .deals .card {
      max-width: unset;
      min-width: unset;
      width: 100%; }
  main .products .filters {
    display: none; }
  main .products .products-left {
    width: 100%; }
    main .products .products-left .products-list {
      flex-direction: column; }
      main .products .products-left .products-list .product {
        width: 100%;
        min-width: unset; } }
