@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

#root {
    width: calc(100vw - 120px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

::-moz-selection {
    /* Code for Firefox */
    color: #000;
    background: #FFBC44;
}

::selection {
    color: #000;
    background: #FFBC44;
}

.categoriesSelector {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 2px solid #eee;

    >a {
        text-decoration: none;
        color: #000;
    }

    .category {
        .img {
            border-radius: 50%;
            background-color: transparent;
            transition: all 0.2s ease-in-out;

            img {
                height: 60px;
            }

            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            .img {
                background-color: #EEE;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: #000;
        text-align: center;

        p {
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

main {
    section {
        padding: 40px 0;

        h1 {
            font-size: 45px;
            font-weight: 550;
            color: #000;
            letter-spacing: -1px;
            margin-bottom: 15px;
        }
    }

    .deals {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .products {
        display: flex;
        position: relative;

        .filters {
            position: sticky;
            top: 0;
            left: 0;
            width: 300px;

            h5 {
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-top: 30px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .sort,
            .category {
                >div {
                    display: flex;
                    gap: 8px;
                }
            }
        }

        .products-left {
            width: calc(100% - 300px);
        }

        .products-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .product {
                flex: 1;
                flex-basis: 30%;
                min-width: 200px;
                max-width: 30%;

                @media screen and (max-width: 973px) {
                    max-width: calc(50% - 10px);
                }

                @media screen and (max-width: 768px) {
                    max-width: calc(33.333% - 20px);
                }

                @media screen and (max-width: 711px) {
                    max-width: calc(50% - 10px);
                }

                @media screen and (max-width: 466px) {
                    max-width: unset;
                }

                .img {
                    aspect-ratio: 1.9/1;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .price {
                    font-size: 12px;
                    color: #9E9E9E;

                    .amount {
                        color: #FFBC44;
                        font-weight: 600;
                        font-size: 22px;
                    }
                }

                h6 {
                    font-size: 22px;
                    font-weight: 500;
                    color: #000;
                    margin-bottom: -8px;
                }

                p {
                    color: #9E9E9E;
                    font-size: 13px;
                    font-weight: 300;
                    margin-bottom: 15px;
                }

                button {
                    height: 45px;
                    border-radius: 22.5px;
                    border: 2px solid transparent;
                    background-color: #000;
                    color: #fff;
                    font-weight: 500;
                    font-size: 15px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: #fff;
                        border: 2px solid #000;
                        color: #000;

                        img {
                            filter: invert(1);
                        }
                    }

                    &.disabled {
                        background-color: #fff;
                        border: 2px solid #000;
                        color: #000;
                        cursor: not-allowed;

                        &:hover {
                            background-color: #fff;
                            border: 2px solid #000;
                            color: #000;
                        }

                        img {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    main {
        .products {
            .filters {
                width: 25%;
            }

            .products-left {
                width: 75%;
            }
        }
    }
}

.large {
    display: block;
}

.small {
    display: none;
}

@media (min-width: 1600px) {
    body {
        padding: 0 calc((100vw - 1420px) / 2);
    }
}

@media (max-width: 768px) {
    body {
        padding: 0 5%;
    }

    .categoriesSelector {
        display: none;
    }

    main {

        .products {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .filters {
                width: 100%;
                position: relative;
            }

            .products-left {
                width: 100%;
            }
        }
    }
}

@media (max-width: 460px) {

    main {
        .deals {
            flex-direction: column;
        }

        .products {
            .filters {

                >div:not(.always),
                >h5 {
                    display: none;
                }

                >h5.always {
                    display: block;
                    text-align: left;
                }

                >div.always {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    gap: 20px;
                    overflow: auto;
                    -ms-overflow-style: none;
                    scrollbar-width: none;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    input {
                        display: none;
                    }

                    label {
                        border: 2px solid #000;
                        border-radius: 8px;
                        padding: 5px 8px;
                        width: max-content;
                    }

                    input:checked+label {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }

            .products-left {
                width: 100%;

                .products-list {
                    flex-direction: column;

                    .product {
                        width: 100%;
                        min-width: unset;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}